footer.footer
  .footer__logo-box
    picture.footer__logo
      img(src='/img/logo-green-small.png' alt='Natour logo' )

  .row
    .col-1-of-2
      .footer__navigation
        ul.footer__list
          li.footer__item
            a.footer__link(href='#') Company
          li.footer__item
            a.footer__link(href='#') Contact us
          li.footer__item
            a.footer__link(href='#') Carrers
          li.footer__item
            a.footer__link(href='#') Privacy policy
          li.footer__item
            a.footer__link(href='#') Terms
    .col-1-of-2
      p.footer__copyright
        | Built by 
        a.footer__link(href='#') Ellie Fard
       
