header.header
  .bg-video
    video.bg-video__content(autoplay='' muted='' loop='')
      source(src='img/video.mp4' type='video/mp4')
      source(src='img/video.webm' type='video/webm')
  .header__text-box
    h1.heading-primary
      span.heading-primary--main Outdoors
      span.heading-primary--sub is where life happens
    a.btn.btn--white.btn--animated(href='/tours') Discover our tours

