extends baseOne

block content
  main.main
    .reset-form
      h2.heading-secondary--small.ma-bt-lg Please enter your email
      form.form.form--reset
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green Continue
          //- a.nav__el.nav__el--cta(href='/sentPassword') Continue
        //- a.nav__el.nav__el--cta(href='/forgot') Continue
        